@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	/* background-color: #000000; */
}

:root {
	--scrollbar-height: 0.3rem;
	--scrollbar-radius: 0.8rem;
	--scrollbar-color-inactive: #262626;

	
	/* COLORS */
	--background: #121212;
	--primary: #FF7801;
	--secondary: #7E41FF;
	--base: #EAEAEA;
	--black: #000000;
	--gray: #262626;
	--white: #FFFFFF;
}
